@model ProjectDisplayViewModel

<div class="row">
    <div class="col-12">
        
        
        @foreach (var project in Model.Projects)
        {
            <div id="project-1" class="projectContent">
                <fieldset>
                    <legend>@project.Name</legend>
                </fieldset>



                <div class="form-group">
                    <label class="col-sm-2 control-label"><b>Client:</b></label>
                    <div class="col-sm-10">
                        <p class="form-control-static">@project.Client</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><b>Timeframe:</b></label>
                    <div class="col-sm-10">
                        <p class="form-control-static">@project.FormattedStartAndEndYear</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><b>Description:</b></label>
                    <div class="col-sm-10">
                        <p class="form-control-static">@project.Description</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><b>Roles:</b></label>
                    <div class="col-sm-10">
                        <p class="form-control-static">@string.Join(',', @project.Roles)</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><b>Primary Languages:</b></label>
                    <div class="col-sm-10">
                        <p class="form-control-static">Java, Javascript, Python</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><b>Database Platforms:</b></label>
                    <div class="col-sm-10">
                        <p class="form-control-static">Postgresql</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><b>Design Patterns:</b></label>
                    <div class="col-sm-10">
                        <p class="form-control-static">Model View Controller (MVC), Repository, Dependency Injection</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><b>Programming Toolkits:</b></label>
                    <div class="col-sm-10">
                        <p class="form-control-static">JPA, Hibernate, JQuery, Spring</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><b>Software Lifecycle:</b></label>
                    <div class="col-sm-10">
                        <p class="form-control-static">Agile-Scrum</p>
                    </div>
                </div>

            </div>
        }
    </div>
</div>


@section Scripts {
    <script>
        (function() {
            var resolver = new MenuResolver();
            resolver.resolve(TargetPage.Projects);
        })();

    </script>
}
